:root {
    --bg-color: #161616;
    --main-color: #377375;
    --main-color-h:#2B4F50;

    --main-color-confirm: #63A46C;
    --main-color-confirm-h: #3F7647;

    --extra-color-1: #377375;
    --extra-color-1-h: #377375;

    --text-color: #EEEEEE;
    --text-color-light: #EEEEEE;
    --text-color-dark: #292929;

    --link-color: #EEEEEE;
    --link-color-h: #377375;

    --white: #ffffff;
}

.about-us {
    display: flex;
    flex-direction: column;
    margin: 3rem 10rem;

}

.about-us p {
    margin-bottom: 3rem;
}