:root {
    --header-bg-color: #46344E;
    --bg-color: #1F2605;
    --main-color: #D6CE15;
    --main-color-h:#A4A71E;

    --main-color-confirm: #53900F;
    --main-color-confirm-h: #1F6521;

    --main-color-cancel: #CE4A50;
    --main-color-cancel-h: #9F3B3F;

    --extra-color-1: #46344E;
    --extra-color-1-h: #46344E;

    --text-color: #D6ED17FF;
    --text-color-light: #EEEEEE;
    --text-color-dark: #292929;

    --link-color: #D6ED17FF;
    --link-color-h: #FFA8B3;
    --product-card-bg: #ad073980;
    --product-card-bg-h: #ad0739c2;
    --white: #ffffff;

    --hero-bg: linear-gradient(
        to bottom, 
        rgba(64,64,64,0) 40%, 
        rgba(64,64,64,0) 60%, 
        rgba(0, 0, 0, 0.774) 80%, 
        #000000 100%),
        url(../images/pexels-nick-bondarev-4338015.jpg);

    --featured-selected-bg: linear-gradient(
        to bottom, 
        rgb(0, 0, 0) 1%, 
        rgba(22,22,22, 0.842) 30%, 
        rgba(22,22,22, 0.605) 40%, 
        rgba(22,22,22, 0.609) 60%, 
        rgba(22,22,22, 0.878) 70%, 
        rgb(0, 0, 0) 99%), 
        url(../images/blake-cheek-unsplash.jpg), rgb(0, 0, 0);

    --featured-new-bg: linear-gradient(to bottom, 
        rgb(0, 0, 0) 1%, 
        rgba(0, 0, 0, 0.849) 30%, 
        rgba(0, 0, 0, 0.842) 40%, 
        rgba(0, 0, 0, 0.747) 60%, 
        rgba(0, 0, 0, 0.878) 70%, 
        rgb(0, 0, 0) 100%), 
        url(../images/toomas-tartes-Yizrl9N_eDA-unsplash1.jpg), rgb(0, 0, 0);

    --recomended-bg: url(../images/will-swann-n4P5UGSYLEw-unsplash.png), rgba(0, 0, 0, 20%);

    --showcase-bg: url(../images/will-swann-n4P5UGSYLEw-unsplash.png), rgba(0, 0, 0, 20%);
}