:root {
    --header-bg-color: #FF3EA5FF;
    --bg-color: #00A4CCFF;
    --main-color: rgb(255, 62, 165);
    --main-color-h: rgb(216, 53, 140);

    --main-color-confirm: #63A46C;
    --main-color-confirm-h: #3F7647;

    --main-color-cancel: #CE4A50;
    --main-color-cancel-h: #9F3B3F;

    --extra-color-1: #00A4CCFF;
    --extra-color-1-h: rgb(0, 109, 136);

    --text-color: #EEEEEE;
    --text-color-light: #EEEEEE;
    --text-color-dark: #292929;

    --link-color: #EDFF00FF;
    --link-color-h: rgb(0, 163, 204);
    --product-card-bg: rgba(255, 62, 165, 0.74);
    --product-card-bg-h: #ad0739c2;
    --white: #ffffff;

    --hero-bg: linear-gradient(
        to bottom, 
        rgba(0, 163, 204,0) 40%, 
        rgba(0, 163, 204, 0.61) 60%, 
        rgb(0, 163, 204) 70%, 
        rgb(0, 163, 204) 100%),
        url(../images/alex-paganelli-diZrduZYnx4-unsplash-s.jpg);
    --hero-bg-position: bottom;

    --featured-selected-bg: linear-gradient(
        to bottom, 
        rgb(0, 163, 204) 0%, 
        rgb(0, 163, 204) 20%,
        rgba(0, 163, 204, 0.795) 30%, 
        rgba(0, 163, 204, 0.605) 40%, 
        rgba(0, 163, 204, 0.808) 60%, 
        rgb(0, 163, 204) 70%, 
        rgb(0, 163, 204) 100%), 
        url(../images/blake-cheek-unsplash.jpg);

    --featured-new-bg: linear-gradient(
        to bottom, 
        rgb(0, 163, 204) 1%, 
        rgba(0, 163, 204, 0.849) 30%, 
        rgba(0, 163, 204, 0.842) 40%, 
        rgba(0, 163, 204, 0.747) 60%, 
        rgba(0, 163, 204, 0.878) 70%, 
        rgb(0, 163, 204) 100%), 
        url(../images/toomas-tartes-Yizrl9N_eDA-unsplash1.jpg);

    --showcase-bg:  linear-gradient(
        to bottom, 
        rgba(0, 163, 204, 0.411) 0%, 
        rgba(0, 163, 204, 0.281) 20%, 
        rgba(255, 62, 165, 0.233) 60%, 
        rgba(255, 62, 165, 0.507) 70%, 
        rgb(255, 62, 165) 100%),
        url(../images/austin-scherbarth-zq30pPhJ43s-unsplash.jpg);
    
        --recomended-bg: linear-gradient(
            to bottom, 
            rgba(36, 41, 43, 0.658) 1%, 
            rgba(46, 53, 54, 0.178) 30%, 
            rgba(19, 17, 18, 0.507) 70%, 
            rgb(14, 14, 14) 100%),
            url(../images/chris-henry-l-fJ7o__MlI-unsplash.jpg);
}
.featured-section-selected {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    padding: 12rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    background: var(--featured-selected-bg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.ss-child-top {
    
    width: 100%;
}

.ss-child-top h1 {
    background-color: rgba(255, 62, 165, 0.486);
}

.ss-child-bottom {
    margin: auto auto 0 auto;
    text-align: center;
  
}

.ss-child-bottom h2 {
    background-color: rgba(0, 163, 204, 0.486);
}

@media only screen and (max-width: 1200px) {
    .featured-section-selected {
        background-size: cover;
        background-attachment: unset;

    }



}