:root {
    --bg-color-light: #f1f1f1;

    --text-color-darker: #000;

}

.cart-list {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-light);
    color: var(--text-color-darker);
    flex-wrap: wrap;
    align-items: center;
}


.cart-list img {
    height: 120px;
}

.cart-list-btns {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
    align-items: center;
    text-align: right;
    flex-wrap: wrap;
    border: 0!important;
}

.cart-list-btns p {
    width: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 10rem 10rem;
    background-color: var(--bg-color-light);
    color: var(--text-color-darker)!important;
}

.cart-container p {
    color: var(--text-color-darker)!important;
}

.cart-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-color-light);
}

.cart-container div {
    border-bottom: 1px solid #4e4e4e;
    padding: 1rem;
}

.details-bottom {
    background-color: var(--white);
    color: var(--text-color-darker);
}

.details-bottom p {
    color: var(--text-color-darker);
}

.cart-image {
    width: 20%;
}

.cart-amount-btns {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    min-width: 145px;
}

.cart-amount {
    border: 1px solid var(--main-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    max-height: 20px;
}

.cart-amount:hover {
    background-color: var(--main-color-h);
    color: var(--text-color);
    transform: scale(1.1);
}


@media only screen and (max-width: 1089px) {
    .cart-container {
        margin: 3rem 5rem 5rem;
    }
        }

@media only screen and (max-width: 900px) {
    .cart-list img {
        height: 90px;
    }
    .cart-container {
        margin: 3rem 2rem 5rem;
    }
        }