:root {
    --bg-color: #161616;
    --main-color: #377375;
    --main-color-h:#2B4F50;

    --main-color-confirm: #63A46C;
    --main-color-confirm-h: #3F7647;

    --main-color-cancel: #CE4A50;
    --main-color-cancel-h: #AB2026;

    --extra-color-1: #377375;
    --extra-color-1-h: #377375;

    --text-color: #EEEEEE;
    --text-color-light: #EEEEEE;
    --text-color-dark: #292929;

    --link-color: #EEEEEE;
    --link-color-h: #377375;

    --white: #ffffff;


}

.checkout-section {
    display: flex;
    
    flex-wrap: wrap;
    padding: 3rem 5rem 5rem;
}

.checkout-section-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.checkout-col1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

}

.checkout-col2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 1rem;

}

.checkout-col3 {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 1rem;

}

.checkout-col2 input[type="text"] {
    margin-bottom: 2rem;
    padding: 0.8rem;
}

.checkout-col2 input[type="number"] {
    margin-bottom: 2rem;
    padding: 0.8rem;
}

.checkout-col2 label {
    margin-bottom: 1rem;
    
}


.checkout-payment-box {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--text-color-light);
    padding: 1rem;
}



.checkout-product-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color-light);
    padding: 1rem;
}