:root {
    --header-bg-color: #53E1F6;
    --bg-color: #CFB5BA;
    --main-color: #99FAF0;
    --main-color-h:#3ed3c4;

    --main-color-confirm: #63A46C;
    --main-color-confirm-h: #3F7647;

    --main-color-cancel: #CE4A50;
    --main-color-cancel-h: #9F3B3F;

    --extra-color-1: #F59D05;
    --extra-color-1-h: #b47200;

    --text-color: #EEEEEE;
    --text-color-light: #EEEEEE;
    --text-color-dark: #292929;

    --link-color: #EEEEEE;
    --link-color-h: #FFA8B3;

    --white: #ffffff;
}