:root {
    --bg-color: #161616;
    --main-color: #377375;
    --main-color-h:#2B4F50;

    --main-color-confirm: #63A46C;
    --main-color-confirm-h: #3F7647;

    --extra-color-1: #F59D05;
    --extra-color-1-h: #b47200;

    --text-color: #EEEEEE;
    --link-color: #EEEEEE;
    --link-color-h: #377375;

    --white: #ffffff;
}
  
body {
    background-color: #161616;
    color: var(--text-color);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    letter-spacing: 11px;
    font-weight: 300;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 4px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 1.6px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    letter-spacing: 11px;
    font-weight: 300;
}

/* Reusable text styling */ 

.text-shadow {
    text-shadow: -2px -1px 5px #000000;
}

/* Main container */

.flex-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}




/* nav section */

.nav {
    display: flex;
    flex-direction: row;
    min-height: 70px;
    padding: 1rem;
    background-color: black;
}
.nav-child {
    width: 100%;
    margin: auto;
    text-align: center;
}

.nav-child img {
    width: 50%;
    height: 50%;
}

.nav-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--link-color);
}

.nav-text:hover {
    color: var(--link-color-h);
}

.nav-child a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--link-color);
    text-decoration: none;
    letter-spacing: 5px;
}

.nav-child a:hover {
    color: var(--link-color-h);
    text-decoration: none; 
    font-weight: 700;
}


/* Category frontpage section */

.category-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 400px;
    background: linear-gradient(
    to bottom, 
    rgba(64,64,64,0) 40%, 
    rgba(64,64,64,0) 60%, 
    rgba(0, 0, 0, 0.377) 80%, 
    #161616 100%
    ),
    url(../images/pexels-nick-bondarev-4338015.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 5%;
    justify-content: center;
}

.category-section div {
    
    cursor: pointer;
}

.category-card1 {
    background: url(../images/man-4174727_640.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 230px;
    min-height: 280px;
    margin: auto 1px -190px 0;
    transition: transform .5s;
}

.category-card1:hover {
    transform: scale(1.05); 
    z-index: 2;
    box-shadow: 2px 2px 18px #0000006b;
}

.material-icons.md-36 { 
    font-size: 36px; 
}

.category-card2 {
    background: url(../images/pexels-matt-hardy-2755165.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 230px;
    min-height: 280px;
    margin: auto 1px -190px 0;
    transition: transform .5s;
}

.category-card2:hover {
    transform: scale(1.05); 
    z-index: 2;
    box-shadow: 2px 2px 18px #0000006b;
}

.category-card3 {
    background: url(../images/umbrella-4507999_640.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 230px;
    min-height: 280px;
    margin: auto 1px -190px 0;
    transition: transform .5s;
}

.category-card3:hover {
    transform: scale(1.05); 
    z-index: 2;
    box-shadow: 2px 2px 18px #0000006b;
}

.category-card4 {
    background: url(../images/umbrella-4507999_640.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 230px;
    min-height: 280px;
    margin: auto 0 -190px 0;
    transition: transform .5s;
}

.category-card4:hover {
    transform: scale(1.05); 
    z-index: 2;
    box-shadow: 2px 2px 18px #0000006b;
}

.category-bottom {
    background-color: var(--main-color);
    width: 100%;
    bottom: 0%;
    position: absolute;
    text-align: center;
    height: 20%;
}

.category-bottom:hover {
    background-color: var(--main-color-h);
}

.cs-child {
    padding: 1rem;
    margin: auto;
}



/* Featured frontpage section */

.featured-section-selected {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    padding: 3rem;
    padding-bottom: 12rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

.featured-section-new {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    padding: 8rem 3rem 12rem 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.fs-child {
    padding: 1rem;
    margin: auto;
}


/* Recomended frontpage section */

.recomended-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 600px;
    padding: 8rem;
    background: url(../images/will-swann-n4P5UGSYLEw-unsplash.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 3rem;
}

.recomended-sub-section-l {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.recomended-sub-section-r {
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.rs-child {
    align-self: flex-start;
    
    margin: 0 auto 0 auto;
}



/* Header for several of the frontpage sections */

.header-title {
    min-width: 100%;
    padding: 3rem;
    text-align: center;
}
/* reusable product card */

.product-card-container {
    display: flex;
    flex-direction: row;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    min-height: 400px;
    min-width: 250px;
    margin: 1rem;
    padding: 1rem;
    transition: transform .5s;
    cursor: pointer;
}

.product-card-child {
    max-width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.product-card-child img {
    transition: transform .8s;
    transform-style: preserve-3d;
}

.product-card-child img:hover {
    transition: 0.9s;
    transform: rotateY(20deg);
}

.product-card:hover {
    transform: scale(1.05);
}




/* Buttons */

.button {
    background-color: var(--main-color);
    min-height: 30px;
    min-width: 80px;
    cursor: pointer;
}

.button-wide {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    min-width: 250px;
    min-height: 50px;
    background-color: var(--extra-color-1);
    color: var(--text-color);
    margin: 1rem;
    cursor: pointer;
    border: 0;
    text-shadow: 1px 1px 5px black;
}

.button-wide:hover {
    background-color: var(--extra-color-1-h);
    box-shadow: 2px 2px 5px black;
}


/* Showcase section */

.showcase-section {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 720px;
    background: linear-gradient(
        to bottom, 
        rgba(64,64,64,0) 40%, 
        rgba(64,64,64,0) 60%, 
        rgba(0, 0, 0, 0.377) 70%, 
        rgb(0, 0, 0) 100%
    ),
    url(../images/thom-holmes-57q4x4qTdbs-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
  
}

.ss-child-left {
    padding: 3rem 0rem 3rem 3rem;
    width: 43%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;
}

.ss-child-top {
    padding: 3rem;
    width: 100%;
}

.ss-child-bottom {
    margin: auto auto 0 auto;
    text-align: center;
    width: 100%;
}

.ss-child-right {
    padding: 3rem 0rem 3rem 3rem;
    width: 43%;
    text-align: right;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

.ss-collector {
    display: flex;
    flex-direction: row;
    
    align-items: center;
}



/* Footer section */

.footer-section {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 400px;
    padding: 10rem 3rem 1rem 3rem;
    background-color: black;
    
}

.footer-child {
    align-self: flex-start;
    padding: 1rem;
    margin: 0 auto 0 auto;;
}

.footer-child-left {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
}

.footer-child-center {
    margin: 0 auto;
    padding: 1rem;
    width: 30%;
}

.footer-child-top {
    width: 100%;
    top: 5%;
    left: 10%; 
}

.footer-child-bottom {

    margin: auto;
    width: 100%;
    text-align: center;
}

.footer-child-right {
    margin: 0 auto;
    padding: 1rem;
    width: 30%;
    text-align: right;
}

.footer-link {
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.footer-link:hover {
    color: var(--link-color-h);
}


/* Instagram column */

.insta-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.insta-child {
    padding: 3px;
    cursor: pointer;
}

.insta-child img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* css for smaller screens */


@media only screen and (max-width: 999px) {

    /* Make the recomended columns use more space on smaller screens */

    .recomended-sub-section-r {
        width: 50%;
    }
    .recomended-sub-section-l {
        width: 50%;
    }
}

@media only screen and (max-width: 799px) {

    /* Makes the category cards stack nicely ontop on eachother and add extra empty space for the following featured section.*/

    .category-card3 {
        margin: auto 0 -330px 0;
    }

    .category-card4 {
        margin: auto 0 -330px 0;
    }

    .featured-section-selected {
        margin-top: 300px;
    }
}