

/* Font styling*/

.product-details-title {
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: var(--text-color-light);
    letter-spacing: 4px;
    margin-block-start: 0.5rem;
}

.product-details-price {
    
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 4px;
    margin-block-start: 0.5rem;
}

.product-description-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color-dark);
    letter-spacing: 3px;
    margin-block-start: 0.5rem;
}

.product-description-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-dark);
    letter-spacing: 4px;
    margin-block-start: 0.5rem;
}

/* top container */

.details-top {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.details-container {
    display: flex;
    flex-direction: column;
    
}

.product-details-bottom {
    background-color: var(--white);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: row;
    padding: 3rem;
    flex-wrap: wrap;
}

.product-details-bottom p {
    color: var(--text-color-dark);
}

.product-description {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 4rem 2rem 4rem 4rem;
}

.product-description h3 {
    color: var(--text-color-dark);
}

.product-feedback {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 4rem 4rem 4rem 2rem;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    order: 1;
}

.details-options {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    width: 43%;
    order: 2;
}

.product-main-image {
    display: flex;
    width: 40%;

    background-color: white;
}

.product-image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}



.product-image-grid div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product-image-grid div img {
    margin: auto;

    height: 170px;

}
.product-image-grid div img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product-main-image img {
    height: 400px;
    margin: auto;
}

.add-product {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    width: 100%;
    flex-wrap: wrap;
}

.add-product p {
    margin: auto 2rem;
}

.details-amount {
    border: 1px solid var(--main-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    max-height: 2rem;
}

.details-amount:hover {
    background-color: var(--main-color-h);
    color: var(--text-color);
    transform: scale(1.1);
}

.size-container {
    display: flex;
    margin: auto auto 0 0;
}
.size-span {
    border: 1px solid var(--main-color);
    cursor: pointer;
    width: 25px;
    padding: 1rem;
    margin: 1rem 0.5rem 1rem 0;
    text-align: center;
}

.size-span:hover {
    background-color: var(--main-color);

}

/* sticky purchase "header" */

  
  .fixed {
    position: fixed;
    top: 0;
    width: 100%;
    
  }
 

  .purchase-header {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: var(--bg-color);
      
      
  }

  .purchase-header-mobile {
    display: none;

}

@media only screen and (max-width: 1079px) {

    .details-top {
        max-height: 800px;

    }

    .image-container {
        order: 1;
        width: 100%;
    }
    .purchase-header {
        display: none;
       
        
    }

    .add-product {
        margin: 0 auto 0 2rem;
        
    }
    .size-container {
        margin: auto auto 0 2rem;
    }

    .purchase-header-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--bg-color);
        
      
    }
    .details-options {
        order: 2;
        width: 100%;
    }
}

@media only screen and (max-width: 679px) {
    .product-image-grid {
        
        flex-wrap: nowrap;
        width: 50%;
    }
    .product-main-image {
     
        width: 50%;
        
    }
}

@media only screen and (max-width: 509px) {
.product-image-grid div img {
    margin: auto;
    height: 110px;
}
    }