

.plist-hero-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 550px;
    background: url(../images/pexels-vlad-bagacian-2819551.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    width: 100%;
}

.text-dark p {
    color: black!important;
}

.plist-hero-section div {
    margin: auto;
}

.plist-hero-sub {
    padding: 2rem;

    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

.plist-container {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    padding: 2rem;

    justify-content: center;
}

.plist-left {
    flex: 1;
    margin: 3rem auto;
}

.plist-center {
    flex: 4;
    margin: 0 auto;
    padding: 3rem;
}

.plist-center img {
    margin: auto;
}

.plist-right {
    flex: 1;
    margin: 3rem auto;
}

.pl-img {
    max-width: 170px;
    max-height: 300px;
}

@media only screen and (max-width: 679px) {


.plist-center {
    flex: 1;
    margin: 0;
    padding: 0;
}

.plist-container {

    width: 100%;;
    padding: 0;
}

.plist-hero-sub {
    padding: 2rem 0;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

}