:root {
    --bg-color: #161616;
    --main-color: #377375;
    --main-color-h:#2B4F50;

    --main-color-confirm: #63A46C;
    --main-color-confirm-h: #3F7647;

    --extra-color-1: #377375;
    --extra-color-1-h: #377375;

    --text-color: #EEEEEE;
    --text-color-light: #EEEEEE;
    --text-color-dark: #292929;

    --link-color: #EEEEEE;
    --link-color-h: #377375;

    --white: #ffffff;
}

.details-top {
    display: flex;
    max-height: 400px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.details-container {
    display: flex;
    flex-direction: column;
    
}

.product-details-bottom {
    background-color: var(--white);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.product-details-bottom p {
    color: var(--text-color-dark);
}

.product-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-feedback {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.details-options {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

}

.product-main-image {
    display: flex;
    width: 40%;

    background-color: white;
}

.product-image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

.product-image-grid img {
    max-height: 40%;

    margin: 1rem;

}

.product-main-image img {
    height: 100%;
    margin: auto;
}

.add-product {
    display: flex;
    align-items: center;
}

.add-product p {
    margin: auto 2rem;
}

.details-amount {
    border: 1px solid var(--main-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    max-height: 2rem;
}

.details-amount:hover {
    background-color: var(--main-color-h);
    color: var(--text-color);
    transform: scale(1.1);
}