

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav li {
    display: inline;
  }

  .nav li:hover {
     
    display: inline;
    color: var(--link-color-h);
  }