

.support-container {
    background-color: var(--bg-color);
}

.contact-us {
    display: flex;
    flex-direction: column;
    margin: 3rem 10rem;

}
.contact-options {
    display: flex;
    margin: 3rem 0;
}

.contact-options a {
    color: var(--main-color);
}

.contact-options a:hover {
    color: var(--main-color-h);
}

.contact-options div {
    display: flex;
    flex: 1;
    margin: auto;
    
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
   
}

